.cover__title {
  position: relative;
  margin: 0;
  max-width: 550px;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 660px) {
  .cover__title {
    max-width: 60vw;
    font-size: 9vw;
    padding-top: 16.5vw;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    padding: 33px 0 0 0;
    font-size: 32px;
    line-height: 35px;
    max-width: 255px;
  }
}
